{% extends 'base.html.twig' %}

{% block title %}About me{% endblock %}

{% block body %}
    <body class="about">
        <div class="aboutMe">
            <div class="screen">
                <div class="myPhoto">
                    <img src="{{ asset('/images/nijat.png') }}" alt="myphoto"> 
                    <div class="overlay"> </div>
                </div>
                
                <div class="typewriting">
                    <h6 class="ligne-1 lignes"> Hi, my name is Nijat. </h6>
                    <h6 class="ligne-2 lignes"> I am a web developper. </h6>
                    <h6 class="ligne-3 lignes"> Want to know more about me ? </h6>
                    <h6 class="ligne-4 lignes"> Download my CV below : </h6>
                    <a href="/mydocs/CV.pdf" target="_blank"> <button class="btn btn-info"> Download </button> </a> 
                </div>
            </div>
            
            <div class="screen-below">
            </div>
            
            <div class="screen-leg">
                <div class="leg-1">
                </div>
                <div class="leg-2">
                </div>
            </div>

            <div class="keyboard">
                <div class="clavier"> 
                    {% for digit in 0..10 %}
                        <div class="digits"> {{ digit }} </div>
                    {% endfor %}
                    <br/>
                    {% set number = 1 %}
                    
                    {% for letter in 'a'..'z' %}
                        <div class="letters" id="letter{{number}}"> {{ letter }} </div>
                        {% set number = number + 1 %}
                    {% endfor %}
                </div>
            </div>

            <div class="icons">
                <div>
					<a href="https://www.linkedin.com/in/nijat-majidli-03889627/" target="_blank">
						<img src="{{ asset('images/linkedin.png') }}" class='fab fa-linkedin' alt="linkedin">
					</a>
				</div>
				<div>
					<a href="https://github.com/Nijat-Majidli?tab=repositories" target="_blank">
						<img src="{{ asset('images/github.png') }}" class='fab fa-github' alt="github">
					</a>
				</div>
                <div>
					<a href="https://api.whatsapp.com/send?phone=33751250810" target="_blank">
						<img src="{{ asset('images/whatsapp.png') }}" class='fab fa-linkedin' alt="linkedin">
					</a>
				</div>
            </div>
        </div>
    </body>
{% endblock %}
